@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
html,
p,
h1,
h2,
div {
    font-family: "Abel", sans-serif !important;
}

p,
b {
    font-size: x-large;
    font-weight: 300;
}

.footer-copyright {
    bottom: 0 !important;
}

.text-dark {
    --bs-text-opacity: 1;
    color: white !important;;
}
.bg-warning {
    --bs-bg-opacity: 1;
    background-color: #2E0174 !important;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: white !important;
}
